{% extends 'base.html.twig' %}

{% block body %}
    <div align="center">
    <h1>Suite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ suite.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ suite.prix }}</td>
            </tr>
            <tr>
                <th>Numero_suite</th>
                <td>{{ suite.numeroSuite }}</td>
            </tr>
        </tbody>
    </table>


            <a href="{{ path('suite_index') }}" class="btn btn-info">Back to the list</a><br>

            <a href="{{ path('suite_edit', { 'id': suite.id }) }}" class="btn btn-warning">Edit</a><br>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}

    </div>
    {% block style %}
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 30%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
            .btn-danger{
                width: 135px;
                height: 40px;
            }
            .btn-warning{
                width: 135px;
                height: 40px;
            }
        </style>
    {% endblock %}
{% endblock %}
