{% extends 'base.html.twig' %}

{% block body %}
    <div align="center">
    <h1>Admins list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': admin.id }) }}">{{ admin.id }}</a></td>
                <td>{{ admin.username }}</td>
                <td>{{ admin.email }}</td>
                <td>{{ admin.tel }}</td>
                <td>
                    <i class="fa fa-eye"> <a href="{{ path('admin_show', { 'id': admin.id }) }}">show</a></i><br>

                    <i class="fa fa-pencil"> <a href="{{ path('admin_edit', { 'id': admin.id }) }}">edit</a></i><br>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <br>
    <div align="center">
            <button type="button" class="btn btn-info"><a href="{{ path('admin_new') }}" style="color: white">Create a new admin</a></button>
        <a href="{{ path('admin_recherche') }}" class="btn btn-success"><i class="fa fa-search">recherche</i></a>
    </div>
    <br><br><br><br><br>
    {% block style %}
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 3px solid #ddd;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}
        .btn-success{
            width: 200px;
            height: 40px;
        }
    </style>
        {% endblock %}
{% endblock %}
