{% extends 'base.html.twig' %}

{% block body %}
    <div align="center">
    <h1>Admin</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ admin.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ admin.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ admin.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ admin.email }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ admin.tel }}</td>
            </tr>
        </tbody>
    </table>


            <a href="{{ path('admin_index') }}" class="btn btn-info" >Back to the list</a><br>

            <a href="{{ path('admin_edit', { 'id': admin.id }) }}" class="btn btn-warning">Edit</a><br>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
    </div>
    {% block style %}
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 30%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
            .btn-danger{
                width: 135px;
                height: 40px;
            }
            .btn-warning{
                width: 135px;
                height: 40px;
            }
        </style>
    {% endblock %}
{% endblock %}
