{% extends 'base.html.twig' %}

{% block body %}
    <h1>Responsablehotels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id_responsable</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Id_hotel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for responsableHotel in responsableHotels %}
            <tr>
                <td><a href="{{ path('responsablehotel_show', { 'Id_Responsable': responsableHotel.Id_Responsable }) }}">{{ responsableHotel.IdResponsable }}</a></td>
                <td>{{ responsableHotel.username }}</td>
                <td>{{ responsableHotel.password }}</td>
                <td>{{ responsableHotel.email }}</td>
                <td>{{ responsableHotel.tel }}</td>
                <td>{{ responsableHotel.idHotel }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('responsablehotel_show', { 'Id_Responsable': responsableHotel.Id_Responsable }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('responsablehotel_edit', { 'Id_Responsable': responsableHotel.Id_Responsable }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('responsablehotel_new') }}">Create a new responsableHotel</a>
        </li>
    </ul>
{% endblock %}
