{% extends 'base.html.twig' %}

{% block body %}
    <h1>Responsablehotels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for responsableHotel in responsableHotels %}
            <tr>
                <td><a href="{{ path('responsablehotel_show', { 'id': responsableHotel.id }) }}">{{ responsableHotel.id }}</a></td>
                <td>{{ responsableHotel.tel }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('responsablehotel_show', { 'id': responsableHotel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('responsablehotel_edit', { 'id': responsableHotel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('responsablehotel_new') }}">Create a new responsableHotel</a>
        </li>
    </ul>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
{% endblock %}
