{% extends 'base.html.twig' %}

{% block body %}
    <h1>Responsablehotel</h1>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ responsableHotel.id }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ responsableHotel.tel }}</td>
            </tr>
            <tr>
                <th>UserName</th>
                <td>{{ responsableHotel.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ responsableHotel.email }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('responsablehotel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('responsablehotel_edit', { 'id': responsableHotel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
