{% extends 'base.html.twig' %}

{% block body %}
    <div id="form" align="center">
    <h1>Reservation edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-warning"/>
    {{ form_end(edit_form) }}

            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ADMIN")%}
            <a href="{{ path('reservation_index') }}" class="btn btn-info">Back to the list</a>
            {% endif %}
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}

    </div>
    {% block style %}
        <style>
            .btn-warning{
                width: 135px;
                height: 40px;
            }
            .btn-danger{
                width: 135px;
                height: 40px;
            }
            .btn-info{
                width: 135px;
                height: 40px;
            }



            input[type=text], select {
                width: 15%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                align-content: center;
            }        input[type=number], select {
                         width: 15%;
                         padding: 12px 20px;
                         margin: 8px 0;
                         display: inline-block;
                         border: 1px solid #ccc;
                         border-radius: 4px;
                         box-sizing: border-box;
                         align-content: center;
                     }

            #form{
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
                align-content: center;
            }
            label{
                width: 100%;
            }
        </style>
    {% endblock %}
{% endblock %}
