{% extends 'base.html.twig' %}
{% block body %}
    <div align="center">
        <br><br><br><br>
        <h1></h1>
        <table>
            <thead>
            <tr>
                <th>Id Chambre</th>
                <th>id reservation</th>
                <th>Somme</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for chambre in chambres %}

                <tr>
                    <td><a href="{{ path('chambre_show', { 'id': chambre.id }) }}">{{ chambre.id }}</a></td>
                    <td>{{ chambre.id_reservation.id }}</td>
                    <td>-</td>
                    <td>

                       <a href="{{ path('chambre_show', { 'id': chambre.id }) }}"><button class="w3-button w3-green w3-round-large"><i class="fa fa-eye"> show</i></button></a>
                        {% if is_granted("ROLE_ADMIN") %}
                        <i class="fa fa-pencil"> <a href="{{ path('chambre_edit', { 'id': chambre.id }) }}">edit</a></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <td>-</td><td>-</td>
            <td style=background-color:#778899  >{{ somme }}</td><td>-</td>
            </tbody>
        </table>
        <br><br>
        <button type="button" class="btn btn-info"> <a href="{{ path('chambre_index') }}" style="color:white;">Back to the list</a></button>
    </div>
    <br><br>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border-bottom: 3px solid #ddd;
        }


        tr:nth-child(even) {background-color: #f2f2f2;}

        .btn-info{
            width: 135px;
            height: 40px;
        }

        input[type=text], select {
            width: 15%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            align-content: center;
        }        input[type=number], select {
                     width: 15%;
                     padding: 12px 20px;
                     margin: 8px 0;
                     display: inline-block;
                     border: 1px solid #ccc;
                     border-radius: 4px;
                     box-sizing: border-box;
                     align-content: center;
                 }
        label{
            width: 100%;
        }
    </style>

{% endblock %}
