{% extends 'base.html.twig' %}

{% block body %}
    <br><br>
    <div align="center">
    <h1>Reservations list</h1>

    <table>
        <thead>
            <tr >
                <th>Id</th>
                <th>Id Client</th>
                <th>Date_check_in</th>
                <th>Date_check_out</th>
                <th>Type_reservation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr class="w3-hover-light-green">
                <td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td><a href="{{ path('client_show', { 'id': reservation.client.id }) }}">{{ reservation.client.id }}</a></td>
                <td>{% if reservation.datecheckin %}{{ reservation.datecheckin|date('Y-m-d') }}{% endif %}</td>
                <td>{% if reservation.datecheckout %}{{ reservation.datecheckout|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reservation.typeReservation }}</td>
                <td>

                          <a href="{{ path('reservation_show', { 'id': reservation.id }) }}"><button class="w3-button w3-green w3-round-large"><i class="fa fa-eye"> show</i></button></a>

                           <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}"><button class="w3-button w3-orange w3-round-large"><i class="fa fa-pencil"> edit</i></button></a>




                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<br><br>
            <a href="{{ path('reservation_new') }}" class="btn btn-info">Create a new reservation</a><br><br>

        <br><br>
    </div>
    {% block style %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            table {
                border-collapse: collapse;
                width: 70%;
            }

            th, td {
                padding: 10px;
                text-align: left;
                border-bottom: 3px solid #ddd;
            }

            tr:nth-child(even) {background-color: #f2f2f2;}
            .btn-success{
                width: 200px;
                height: 40px;
            }
            .btn-info{
                width: 200px;
                height: 40px;
            }
        </style>
    {% endblock %}
{% endblock %}
