{% extends 'base.html.twig' %}

{% block body %}
    <br><br>
    <div align="center">
    <h1>Clients list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.username }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.tel }}</td>
                <td>

                           <a href="{{ path('client_show', { 'id': client.id }) }}"><button class="w3-button w3-green w3-round-large"><i class="fa fa-eye"> show</i></button></a>

                            <a href="{{ path('client_edit', { 'id': client.id }) }}"><button class="w3-button w3-orange w3-round-large"><i class="fa fa-eye"> edit</i></button></a>
                   {% if is_granted('ROLE_RESPONSABLE') %}
                      <a href="{{ path('reservation_facture', { 'id': client.id }) }}"><button class="w3-button w3-grey w3-round-large"><i class="fa fa-file"> facture</i></button></a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br><br>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('client_new') }}" class="btn btn-info">Create a new client</a><br>
        {% endif %}
        <a href="{{ path('client_recherche') }}" class="btn btn-success"><i class="fa fa-search">recherche</i></a><br><br><br>
    </div>
    {% block style %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            table {
                border-collapse: collapse;
                width: 50%;
            }

            th, td {
                padding: 10px;
                text-align: left;
                border-bottom: 3px solid #ddd;
            }

            tr:nth-child(even) {background-color: #f2f2f2;}
            .btn-success{
                width: 200px;
                height: 40px;
            }
            .btn-info{
                width: 200px;
                height: 40px;
            }
        </style>
    {% endblock %}
{% endblock %}
