{% extends 'base.html.twig' %}

{% block body %}
    <div align="center">
        <br>
        <h1>Chambres list</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Nb_lit</th>
                <th>Prix</th>
                <th>Numero_chambre</th>
                <th>Reservation</th>


            </tr>
            </thead>
            <tbody>
            {% for chambre in chambres %}
                <tr class="w3-hover-light-green">
                    <td><a href="{{ path('chambre_show', { 'id': chambre.id }) }}">{{ chambre.id }}</a></td>
                    <td>{{ chambre.nblit }}</td>
                    <td>{{ chambre.prix }}</td>
                    <td>{{ chambre.numeroChambre }}</td>
                    {% if is_granted("ROLE_CLIENT") %}
                        <td><a href="{{ path('reservation_new') }}" class="btn btn-info">Reserver</a></td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        {% if not("ROLE_CLIENT") %}
        <a href="{{ path('chambre_new') }}" class="btn btn-info">Create a new chambre</a><br><br>
        {% endif %}
        <a href="{{ path('chambre_recherche') }}" class="btn btn-success"><i class="fa fa-search">recherche</i></a><br><br>
    </div>
    {% block style %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            table {
                border-collapse: collapse;
                width: 50%;
            }

            th, td {
                padding: 10px;
                text-align: left;
                border-bottom: 3px solid #ddd;
            }

            tr:nth-child(even) {background-color: #f2f2f2;}
            .btn-success{
                width: 200px;
                height: 40px;
            }
            .btn-info{
                width: 200px;
                height: 40px;
            }
        </style>
    {% endblock %}
{% endblock %}
