{% extends 'base.html.twig' %}

{% block body %}
    <div align="center">
    <h1>Facture</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Date_check_in</th>
                <td>{% if facture.datecheckin %}{{ facture.datecheckin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date_check_out</th>
                <td>{% if facture.datecheckout %}{{ facture.datecheckout|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('facture_index') }}" class="btn btn-info">Back to the list</a><br>
            <a href="{{ path('facture_edit', { 'id': facture.id }) }}" class="btn btn-warning">Edit</a><br>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
    </div>
    {% block style %}
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 30%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
            .btn-danger{
                width: 135px;
                height: 40px;
            }
            .btn-warning{
                width: 135px;
                height: 40px;
            }
        </style>
    {% endblock %}
{% endblock %}
