{% extends 'base.html.twig' %}

{% block body %}<br><br>
    <h1 align="center">Hotels list</h1>

    <table align="center">
        <thead>
            <tr >
                <th>Id</th>
                <th>Nom_hotel</th>
                <th>Localisation</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr class="w3-hover-light-green">
                <td><a href="{{ path('hotel_show', { 'id': hotel.id }) }}">{{ hotel.id }}</a></td>
                <td>{{ hotel.nomHotel }}</td>
                <td>{{ hotel.localisation }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                    <a href="{{ path('hotel_show', { 'id': hotel.id }) }}" ><button class="w3-button w3-green w3-round-large"><i class="fa fa-eye">show</i></button></a>

                    <a href="{{ path('hotel_edit', { 'id': hotel.id }) }}"><button class="w3-button w3-orange w3-round-large"><i class="fa fa-pencil">edit</i></button></a>
                    {% endif %}
                    <a href="{{ path('list_chamrbe', { 'id': hotel.id }) }}"><button class="w3-button w3-light-blue w3-round-large"><i class="fa fa-list">List chambre</i></button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br><br>
    <div align="center">
        {% if not("ROLE_CLIENT") %}
                <a href="{{ path('hotel_new') }}" class="btn btn-info" >Create a new hotel</a>
        {% endif %}
            </div><br>
    {% block style %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            table {
                border-collapse: collapse;
                width: 50%;
            }

            th, td {
                padding: 10px;
                text-align: left;
                border-bottom: 3px solid #ddd;
            }

            tr:nth-child(even) {background-color: #f2f2f2;}
            .btn-success{
                width: 200px;
                height: 40px;
            }
            .btn-info{
                width: 200px;
                height: 40px;
            }
        </style>
    {% endblock %}

{% endblock %}
