{% extends 'base.html.twig' %}

{% block body %}
    <h1 align="center">Hotel</h1>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <table align="center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel.id }}</td>
            </tr>
            <tr>
                <th>Nom_hotel</th>
                <td>{{ hotel.nomHotel }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ hotel.localisation }}</td>
            </tr>
        </tbody>
    </table>


        <div align="center">
            <a href="{{ path('hotel_index') }}" class="btn btn-info" >Back to the list</a><br>
            <a href="{{ path('hotel_edit', { 'id': hotel.id }) }}" class="btn btn-warning btn-lg" >Edit</a><br>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    <style>
        .btn-warning{
            width:135px;
            height:40px;
        }
        .btn-info{
            width:135px;
            height:40px;
        }
        .btn-danger{
            width:135px;
            height:40px;
        }
    </style>

{% endblock %}
